body {
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 28px;
	padding: 0;
	margin: 0;
}
header {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 800px;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 800px;
	background-image: url(../img/bg.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}
.header-top, .header-bottom {
	z-index: 2;
}
.header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 5%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-bottom {
	padding: 0 5%;
}
.header-top-left, .header-top-right {
	display: flex;
}
.header-top-left .brand {
	align-self: center;
}
.header-top-right .slogan {
	font-size: 20px;
	line-height: 32px;
	color: #ffffff;
}
.header-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #ffffff;
}
.header-bottom-right {
	width: 35%;
}
.header-bottom-left {
	width: 48%;
	align-self: center;
}
.header-bottom-left .title {
	font-size: 42px;
	line-height: 48px;
	margin-bottom: 45px;
}
.header-bottom-left .sub-title {
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 40px;
}
.header-bottom-left .text {
	font-size: 17px;
	line-height: 28px;
}
.contact-form {
	background-color: #F3F7F8;
	border-radius: 6px;
	padding: 45px;
	margin-top: 75px;
	-webkit-box-shadow: 0 1px 60px -25px #1d1c1c;
	-moz-box-shadow: 0 1px 60px -25px #1d1c1c;
	box-shadow: 0 1px 60px -25px #1d1c1c;
}
.contact-form, .contact-form * {
	box-sizing: border-box;
}
.contact-form input[type="text"], .contact-form input[type="email"],
.contact-form select, .contact-form textarea {
	width: 100%;
	color: #7b91a2;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(173, 170, 170, 0.4);
	-moz-box-shadow: 0 1px 1px 0 rgba(173, 170, 170, 0.4);
	box-shadow: 0 1px 1px 0 rgba(173, 170, 170, 0.4);
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 25px;
	padding: 10px 20px;
}
.contact-form input[type="text"]::placeholder, .contact-form input[type="email"]::placeholder,
.contact-form select::placeholder, .contact-form textarea::placeholder {
	color: #7b91a2;
}
.contact-form .form-group {
	margin-bottom: 16px;
}
.contact-form textarea {
	height: 105px;
	resize: none;
}
.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}
.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
.btn {
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 25px;
	border: none;
	border-radius: 5px;
	padding: 10px 0;
	text-transform: uppercase;
}
.btn-full {
	display: block;
	width: 100%;
}
.btn-blue {
	background-color: #0090E5;
	color: #ffffff;
}
.description {
	display: flex;
	justify-content: center;
	margin: 0 5%;
	border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
.description .text {
	width: 70%;
	font-size: 22px;
	line-height: 42px;
	text-align: center;
	color: #344d62;
	text-shadow: 0 1px 1px #344d62;
	padding-bottom: 90px;
}
.program {
	padding: 0 5%;
}
.program .title {
	font-size: 30px;
	line-height: 30px;
	padding: 100px 0 60px 0;
	text-align: center;
	color: #061d3b;
	text-shadow: 0 1px 1px #061d3b;
}
.blocks-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.block {
	width: 20%;
	color: #061d3b;
	text-align: center;
	margin-bottom: 50px;
}
.block .img {
	margin-bottom: 25px;
}
footer {
	display: flex;
	justify-content: space-between;
	padding: 28px 5% 20px;
	border-top: 1px solid rgba(1, 1, 1, 0.2);
	color: #7e91a2;
}
footer .brand {
	display: block;
	color: inherit;
	text-decoration: none;
}
footer .brand img {
	vertical-align: middle;
	margin-right: 10px;
}
.footer-social {
	display: flex;
	justify-content: center;
}
.footer-social .img-wrapper {
	display: inline-block;
	margin-right: 20px;
}
.footer-social .img-wrapper:last-child {
	margin-right: 0;
}
@media (max-width: 1200px) {
	.header-bottom-right {
		width: 49%;
	}
	.header-bottom-left .title {
		font-size: 36px;
		line-height: 42px;
	}
	.description .text {
		width: 80%;
	}
	.block {
		width: 22%;
	}
}
@media (max-width: 767px) {
	.header-top-right {
		width: 265px;
		margin-left: auto;
		text-align: right;
	}
	.header-bottom {
		flex-direction: column;
		justify-content: flex-start;
	}
	.header-bottom-left, .header-bottom-right {
		width: 100%;
		text-align: center;
	}
	.header-bottom-left {
		margin-top: 60px;
	}
	.contact-form {
		margin-bottom: 85px;
	}
	.description .text {
		width: 100%;
		padding-bottom: 60px;
	}
	.block {
		width: 45%;
	}
	footer {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	footer .brand img {
		display: block;
		margin: 0 auto;
	}
	.footer-social {
		order: -1;
		margin-bottom: 30px;
	}
}
@media (max-width: 520px) {
	.hide-sm {
		display: none;
	}
	.header {
		height: 1285px;
	}
	.header-top {
		flex-direction: column;
		justify-content: flex-start;
	}
	.header-top-right {
		margin: auto;
		text-align: center;
	}
	.header-top-left {
		justify-content: center;
	}
	.header-top-right .slogan {
		font-size: 15px;
		line-height: 20px;
		width: 200px;
		margin: 13px auto 0;
	}
	.contact-form {
		padding: 15px;
	}
	.description .text {
		font-size: 17px;
		margin-top: 75px;
	}
	.block {
		width: 100%;
	}
	.footer-social {
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.footer-social .img-wrapper {
		width: 50%;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.footer-social .img-wrapper:nth-child(even) img {
		float: left;
		margin-left: 10px;
	}
	.footer-social .img-wrapper:nth-child(odd) img {
		float: right;
		margin-right: 10px;
	}
}
@media (max-width: 500px) {
	.description .text {
		margin-top: 0;
	}
}